---
home: true
layout: layouts/default
title: Government digital experience monitor
description: Monitoring government digital experience.
keywords: government domains, government websites

pagination:
  data: sorts
  size: 10
  alias: member
---

<main id="home">
  <div class="container">
    <div class="row">
      <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
        <h2>Results</h2>
        <ul class="small list-unstyled">
          {% include "updated.html" %}
          <li class="text-body-secondary">
            <span id="filters">
              Filters:
            </span>
          </li>
          <li class="text-body-secondary">
            Showing:
            <span id="showing-count"></span>
            of
            <span id="showing-total"></span>
          </li>
        </ul>
      </div>
    </div>
    <div class="row" id="score-card">
      <h3 class="h4">Grade/score</h3>
      <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 d-flex align-items-stretch">
        <div class="card mb-3" id="grade-card">
          <div class="card-header">
            Average grade
          </div>
          <div class="card-body text-center pt-5">
            <p class="display-1" id="grade"></p>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 d-flex align-items-stretch">
        <div class="card mb-3 text-bg-dark" id="score">
          <div class="card-header">
            Average score
          </div>
          <div class="card-body text-center">
            <p class="display-1">
              <span id="percent"></span>%
            </p>
          </div>
          <div class="card-footer text-center" id="amount"></div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <h3 class="h4" id="table-header">Domains</h3>
        <div class="table-responsive">
          <table class="table table-responsive table-bordered table-hover mt-3">
            <thead class="table-dark">
              <tr>
                <th scope="col" style="width: 500px;">Domain</th>
                <th scope="col">Status</th>
                <th scope="col" class="text-center">Grade</th>
              </tr>
            </thead>
            <tbody id="table">
              {% for d in member %}
                <tr>
                  <td>
                    <a href="/profile/?domain=ca.gov#overview">{{ d.urlkey }}</a>
                    <br>
                    <a class="small text-muted" href="?search={{ d.name }}&amp;agency=1&amp;field=overview">{{ d.name }}</a>
                  </td>
                  <td>
                    <span title="HSTS (security)">
                      <svg class="svg-inline--fa fa-circle-check" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="circle-check" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg="">
                        <path d="M256 512A256 256 0 1 0 256 0a256 256 0 1 0 0 512zM369 209L241 337c-9.4 9.4-24.6 9.4-33.9 0l-64-64c-9.4-9.4-9.4-24.6 0-33.9s24.6-9.4 33.9 0l47 47L335 175c9.4-9.4 24.6-9.4 33.9 0s9.4 24.6 0 33.9z"></path>
                      </svg>
                    </span>
                    <br>
                    <span title="security.txt (security)">
                      <svg class="svg-inline--fa fa-circle-xmark" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="circle-xmark" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg="">
                        <path d="M256 512A256 256 0 1 0 256 0a256 256 0 1 0 0 512zM175 175c9.4-9.4 24.6-9.4 33.9 0l47 47 47-47c9.4-9.4 24.6-9.4 33.9 0s9.4 24.6 0 33.9l-47 47 47 47c9.4 9.4 9.4 24.6 0 33.9s-24.6 9.4-33.9 0l-47-47-47 47c-9.4 9.4-24.6 9.4-33.9 0s-9.4-24.6 0-33.9l47-47-47-47c-9.4-9.4-9.4-24.6 0-33.9z"></path>
                      </svg>
                    </span>
                  </td>
                  <td class="text-center grade-display-column">
                    <span class="badge text-bg-success" title="96%">A</span>
                  </td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <nav>
          <ul class="pagination flex-wrap" id="pagination">
            <li class="page-item" id="previous">
              <a class="page-link" href="#1" id="previous-link">Previous</a>
            </li>
            <li class="page-item" id="next">
              <a class="page-link" href="#1" id="next-link">Next</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</main>
<!--
<script src="/scripts/variables.js"></script>
<script src="/scripts/util.js"></script>
<script src="/scripts/home.js"></script>
-->