<script src="{{ site.baseurl }}/assets/bootstrap/js/popper.min.js"></script>
<script src="{{ site.baseurl }}/assets/bootstrap/js/bootstrap.bundle.min.js"></script>
<script>
    let theme = localStorage.getItem('theme');
    if (!theme)
      theme = window.matchMedia("(prefers-color-scheme: dark)").matches ? 'dark' : 'light';
    document.body.setAttribute('data-bs-theme', theme);
    if (theme === 'light')
      document.getElementById('theme-toggle-icon').outerHTML = `<i class='fa-solid fa-moon' id='theme-toggle-icon'></i>`;
</script>
<!-- Below this needs to be reviewed and updated above -->
<script
  crossorigin="anonymous"
  integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
  src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script
  crossorigin="anonymous"
  integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
  src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
<script
  crossorigin="anonymous"
  integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
  src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>