<div id="main-content">
  {% if home %}
    <div class="py-5 mb-5 border-bottom">
      <div class="container">
        <div class="row">
          <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
            {% if description %}
              <h1 id="jumbotron-title" class="display-5 mb-3">{{ title }}</h1>
            {% endif %}
          </div>
        </div>
        <form id="search-form" action="/search/" class="row">
          <div class="col-sm-12 col-lg-6 mt-3">
            <label class="pb-2" for="search">
              Search:
            </label>
            <div>
            <input name="search" type="text" class="form-control" placeholder="enter domain" id="search">
            </div>
            <!-- single-level delete start -->
            <label class="pb-2 mt-3" for="filter">Filter:</label>
            <select class="form-select form-control-lg" aria-label="Default select example" id="filter">
              <option value="1">all domains</option>
              <option value="2">federal domains</option>
              <option value="3">state domains</option>
            </select>
            <!-- single-level delete end -->
          </div>
          <div class="col-sm-12 col-lg-6 mt-3">
            <label for="overview-radio" class="d-block">
              <input type="radio" name="field" id="overview-radio" value="overview"> Overview</label>
            <label for="url-radio" class="d-block">
              <label for="metadata-radio" class="d-block">
                <input type="radio" name="field" id="metadata-radio" value="metadata"> Metadata</label>
              <label for="url-radio" class="d-block">
                <input type="radio" name="field" id="url-radio"> URL
                        </label>
              <label for="sitemap-radio" class="d-block">
                <input type="radio" name="field" id="sitemap-radio"> Sitemap
                        </label>
              <label for="robots-radio" class="d-block">
                <input type="radio" name="field" id="robots-radio"> Robots
                        </label>
              <label for="security-radio" class="d-block">
                <input type="radio" name="field" id="security-radio"> Security
                        </label>
              <label for="performance-radio" class="d-block">
                <input type="radio" name="field" id="performance-radio"> Performance
                        </label>
              <input type="submit" value="Go" class="mt-2 btn btn-primary">
            </div>
          </form>
          <script>
            if(window.location.pathname == '/') {
              document.getElementById('overview-radio').checked = true;
            }
            if(window.location.pathname.indexOf('/sorts/') == 0) {
              let sort = window.location.pathname.split('/')[2];
              if(document.getElementById(`${sort}-radio`)) {
                document.getElementById(`${sort}-radio`).checked = true;
              }
            }
            let pregenSearches = ['metadata','robots','url','sitemap','security','performance'];
            document.getElementById('search-form').addEventListener('submit',function(e) {
              if(document.getElementById('search').value.trim() == '') {
                let redirecting = false;
                let destination = '';
                pregenSearches.forEach(p => {                  
                  if(document.getElementById(`${p}-radio`).checked) { 
                    redirecting = true;
                    destination = `/sorts/${p}/`
                  }
                })
                if(redirecting) {
                  e.preventDefault();
                  window.location.href = destination;
                }
              }
            })
          </script>
          <div class="row d-none" id="share">
            {% include "share.html" %}
          </div>
        </div>
      </div>
    {% elif profile %}
      <div class="py-4 mb-3 border-bottom">
        <div class="container-fluid">
          <div class="row">
            <div class="col-12">
              <h1 class="display-6" id="jumbotron-title">
                <span id="site">{{ title }}</span>
              </h1>
              {% if description %}
                <p class="lead">{{ description }}</p>
              {% endif %}
              {% include "share.html" %}
            </div>
          </div>
        </div>
      </div>
    {% elif layout == "docs" %}
      {% if title %}
        <h1 class="display-5">{{ title }}</h1>
      {% endif %}
      {% if description %}
        <p class="lead pb-3 mb-5">{{ description }}</p>
      {% endif %}
    {% else %}
      <div class="pt-5 pb-4 mb-5 border-bottom">
        <div class="container">
          <div class="row">
            <div class="col-12">
              {% if title %}
                <h1 class="display-4">{{ title }}</h1>
              {% endif %}
              {% if description %}
                <p class="lead">{{ description }}</p>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    {% endif %}
  </div>