<div id="main-content">
  {% if page.home %}
  <div class="py-5 mb-5 border-bottom">
    <div class="container">
      <div class="row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
          {% if page.description %}
          <h1 id="jumbotron-title" class="display-5 mb-3">{{ page.hero-title }}</h1>
          <!-- <p class="lead" id="jumbotron-subtitle">{{ page.description }}</p> -->
          {% endif %}
        </div>
      </div>
      <form id="search-form" class="row">
        <div class="col-sm-12 col-lg-6 mt-3">
          <label class="pb-2" for="search">
            Search:
          </label>
          <input name="search" type="text" class="form-control mb-3" placeholder="enter domain" id="search">
          <!-- single-level delete start -->
          <label class="pb-2" for="filter">Filter:</label>
          <select class="form-select form-control-lg" aria-label="Default select example" id="filter">
            <option value="1">all domains</option>
            <option value="2">federal domains</option>
            <option value="3">state domains</option>
          </select>
          <!-- single-level delete end -->
        </div>
        <div class="col-sm-12 col-lg-6 mt-3">
          <label for="overview-radio" class="d-block">
            <input type="radio" name="field" id="overview-radio"> Overview</label>
          <label for="url-radio" class="d-block">
            <label for="metadata-radio" class="d-block">
              <input type="radio" name="field" id="metadata-radio"> Metadata</label>
            <label for="url-radio" class="d-block">
              <input type="radio" name="field" id="url-radio"> URL
            </label>
            <label for="sitemap-radio" class="d-block">
              <input type="radio" name="field" id="sitemap-radio"> Sitemap
            </label>
            <label for="robots-radio" class="d-block">
              <input type="radio" name="field" id="robots-radio"> Robots
            </label>
            <input type="submit" value="Go" class="mt-2 btn btn-primary">
        </div>
      </form>
    </div>
  </div>
  {% elsif page.title == "Profile" %}
  <div class="py-4 mb-3 border-bottom">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <h1 class="display-6" id="jumbotron-title">
            <span id="site">.gov</span>
          </h1>
          <p id="jumbotron-subtitle">
            Managed by:
            <a id="parent"></a>
          </p>
          {% include share.html %}
        </div>
      </div>
    </div>
  </div>
  {% elsif page.layout == "docs" %}
  {% if page.title %}
  <h1 class="display-5">{{ page.title }}</h1>
  {% endif %}
  {% if page.description %}
  <p class="lead pb-3 mb-5">{{ page.description }}</p>
  {% endif %}
  {% else %}
  <div class="pt-5 pb-4 mb-5 border-bottom">
    <div class="container">
      <div class="row">
        <div class="col-12">
          {% if page.title %}
          <h1 class="display-4">{{ page.title }}</h1>
          {% endif %}
          {% if page.description %}
          <p class="lead">{{ page.description }}</p>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
  {% endif %}
</div>