<nav class="navbar navbar-expand-md border-bottom">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">
      <!--
        <img    src="{{ site.baseurl }}/assets/img/"    width="30"    height="30"    class="d-inline-block align-top"    alt="{{ site.title }} text">
      -->
      {{ site.title }}
    </a>
    <button
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
      class="navbar-toggler ml-auto collapsed"
      data-target="#navbarSupportedContent"
      data-toggle="collapse"
      type="button">
      <span class="navbar-toggler-icon"></span>
    </button>
    <!-- Collapsible wrapper -->
    <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
      <ul class="navbar-nav mb-2 mb-lg-0">
        {% for item in site.data.nav.docs %}
          {% if item.url %}
            <li class="nav-item me-3 me-lg-0">
              <a class="nav-item nav-link mx-1 {% if page.url contains item.url %}active{% endif %}" href="{{ site.baseurl }}{{ item.url }}">
                <i class="fa-solid fa-{{ item.icon }}"></i>
                {{ item.title }}
              </a>
            </li>
          {% endif %}
        {% endfor %}
        <li class="nav-item me-3 me-lg-0" id="toggle-theme">
          <a
            class="nav-item nav-link mx-1"
            href="javascript:void(0)"
            onclick="
            localStorage.setItem('theme', document.body.getAttribute('data-bs-theme') == 'light' ? 'dark' : 'light');
            document.body.setAttribute('data-bs-theme', document.body.getAttribute('data-bs-theme') == 'light' ? 'dark' : 'light');
            document.querySelector('#toggle-theme img').src = '/assets/img/' + (document.body.getAttribute('data-bs-theme') == 'light' ? 'moon' : 'sun') + '.svg';
            ">
            <img
              id="theme-icon"
              src="/assets/img/sun.svg"
              alt="Toggle theme"
              style="width: 1rem;">
            <script>
              let colorTheme = localStorage.getItem('theme');
              if (colorTheme) {
                document.body.setAttribute('data-bs-theme', colorTheme);
                document.querySelector('#toggle-theme img').src = '/assets/img/' + (colorTheme == 'light' ? 'moon' : 'sun') + '.svg';
              }
            </script>
          </a>
      </ul>
    </div>
  </div>
</nav>
