<div class="col-12 col-sm-12 col-md-2 col-lg-2 col-xl-2">
  <div class="list-group mb-5">
    <a href="/profile/{{ domainSlug | slugify }}/overview/" class="list-group-item list-group-item-action">
      <i class="fa-solid fa-gauge"></i>
      <small>Dashboard</small>
    </a>
    <a href="/profile/{{ domainSlug | slugify }}/metadata/" class="list-group-item list-group-item-action">
      <i class="fa-solid fa-database"></i>
      <small>Metadata</small>
    </a>
    <a href="/profile/{{ domainSlug | slugify }}/url/" class="list-group-item list-group-item-action">
      <i class="fa-solid fa-link"></i>
      <small>URL</small>
    </a>
    <a href="/profile/{{ domainSlug | slugify }}/sitemap/" class="list-group-item list-group-item-action">
      <i class="fa-solid fa-sitemap"></i>
      <small>Sitemap</small>
    </a>
    <a href="/profile/{{ domainSlug | slugify }}/robots/" class="list-group-item list-group-item-action">
      <i class="fa-solid fa-robot"></i>
      <small>Robots</small>
    </a>
    <a href="/profile/{{ domainSlug | slugify }}/security/" class="list-group-item list-group-item-action">
      <i class="fa-solid fa-lock"></i>
      <small>Security</small>
    </a>
    <a class="list-group-item list-group-item-action" id="visit-link" target="_blank" href="{{ domainLink }}">
      <i class="fa-solid fa-up-right-from-square"></i>
      <small>Visit site</small>
    </a>
  </div>
</div>