<ul class="list-group list-group-horizontal-sm">
    {% if home %}
    {% else %}
    <li class="list-group-item">
        <div class="dropdown btn dropdown-toggle">
            <a
                    href="/report/?domain={{ domain.urlkey }}"
                    id="report"
                    class="dropdown-item">
                <i class="fa-solid fa-download"></i>
                <small>Download report</small>
            </a>
        </div>
    </li>
    {% endif %}
    <li class="list-group-item">
        <div class="dropdown btn dropdown-toggle">
            <a
                    href="javascript:void(0);"
                    onclick="navigator.clipboard.writeText(location.href);"
                    title="Copy link"
                    class="dropdown-item">
                <i class="fa-solid fa-copy"></i>
                <small>Copy link</small>
            </a>
        </div>
    </li>
    <li class="list-group-item">
        <div class="dropdown">
            <button
                    class="btn dropdown-toggle"
                    type="button"
                    id="dropdownMenuButton"
                    data-bs-toggle="dropdown"
                    aria-expanded="false">
                <i class="fa-solid fa-share"></i>
                <small>Share</small>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <li class="small">
                    <a
                            href="#"
                            id="linkedin"
                            rel="nofollow"
                            target="_blank"
                            title="Share on LinkedIn"
                            class="dropdown-item">
                        <i class="fa-brands fa-linkedin-in"></i>
                        LinkedIn</a>
                </li>
                <li class="small">
                    <a
                            href="#"
                            id="twitter"
                            rel="nofollow"
                            target="_blank"
                            title="Share on Twitter"
                            class="dropdown-item">
                        <i class="fa-brands fa-x-twitter"></i>
                        Twitter</a>
                </li>
                <li class="small">
                    <a
                            href="#"
                            id="facebook"
                            rel="nofollow"
                            target="_blank"
                            title="Share on Facebook"
                            class="dropdown-item">
                        <i class="fa-brands fa-facebook-f"></i>
                        Facebook</a>
                </li>
            </ul>
        </div>
        <script>
            const shareParams = new URLSearchParams(location.search);
            let url = shareParams.get('domain');
            if (!url && shareParams.get('agency') == 1)
                url = shareParams.get('search');
            document.getElementById('linkedin').href = `https://www.linkedin.com/shareArticle?mini=true&url=${encodeURIComponent(location.href)}&title=${document.title}&summary=${url}%20website%20metadata%20information.&source=Civic%20Hacking%20Agency`;
            document.getElementById('twitter').href = `https://twitter.com/intent/tweet?text=${url}%20website%20metadata%20information.&via=civic_hacking&url=${encodeURIComponent(location.href)}`;
            document.getElementById('facebook').href = `https://www.facebook.com/sharer/sharer.php?u=${encodeURIComponent(location.href)}`;
        </script>
    </li>
</ul>
