---
layout: docs
---

{% include header.html %}
{% include nav.html %}
<main>
  <article>
    <div class="container mt-5">
      <div class="row">
        <div class="col-12 col-sm-12 col-md-2 col-lg-2 col-xl-2">
          <ul class="nav flex-column">
            {% for item in site.data.nav-docs.docs %}
              <li class="mb-1">
                <a href="{{ site.baseurl }}{{ item.url }}">
                  {{ item.title }}
                </a>
              </li>
            {% endfor %}
          </ul>
        </div>
        <div class="post col-12 col-sm-12 col-md-10 col-lg-10 col-xl-10">
          <div class="container">
            <div class="row">
              <div class="col-12 col-sm-12 col-md-8 col-lg-8 col-xl-8">
                <div id="post">
                  {% include jumbotron.html %}
                  {% include anchor_headings.html html=content anchorBody="<i class='fa-solid fa-link'></i>" %}
                </div>
              </div>
              <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
                {% include toc.html html=content %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </article>
</main>
{% include analytics.html %}
{% include footer.html %}