---
layout: home
---

{% include header.html %}
{% include nav.html %}
<main id="home">
  {% include jumbotron.html %}
  <div class="container">
    <div class="row" id="level-card">
      <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
        <h2 id="level">U.S. federal and state government domains</h2>
        <p class="text-muted">
          <small>Updated:
            <span id="updated"></span>
            (<a href="/docs/data">Data</a> &middot; <a
              href="https://github.com/civichackingagency/gov-metadata/issues/new?assignees=Narlotl&labels=data+update&projects=&template=data-update-request.md&title=Update+data%3A+%5BDOMAIN%5D">
              Request update</a>)
          </small>
        </p>
      </div>
    </div>
    <div class="row" id="score-card">
      <div class="card-group mb-4 mt-2">
        <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 d-flex align-items-stretch">
          <div class="card mb-3" id="grade-card" style="width: 98%;">
            <div class="card-header">
              Average grade
            </div>
            <div class="card-body text-center pt-5">
              <p class="display-1" id="grade"></p>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 d-flex align-items-stretch">
          <div class="card mb-3 text-bg-dark" id="score" style="width: 98%;">
            <div class="card-header">
              Average score
            </div>
            <div class="card-body text-center">
              <p class="display-1">
                <span id="percent"></span>%
              </p>
            </div>
            <div class="card-footer text-center" id="amount"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="row" id="changelog">
      <div class="col-12">
        <h3>Changelog</h3>
        <section class="py-4">
          <ul class="timeline" id="timeline"></ul>
        </section>
        <p class="mb-5 mt-0 pt-0">
          <a href="{{ site.baseurl }}/changelog" class="btn btn-sm btn-outline-secondary">Full changelog</a>
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <h3>Domains</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="table-responsive">
          <table class="table table-responsive table-bordered table-hover mt-3">
            <thead class="table-dark">
              <tr>
                <th scope="col" style="width: 500px;">Domain</th>
                <th scope="col">Status</th>
                <th scope="col" class="text-center">Grade</th>
                <th scope="col" class="text-center">Report</th>
              </tr>
            </thead>
            <tbody id="table"></tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <nav>
          <ul class="pagination flex-wrap mt-5" id="pagination"></ul>
        </nav>
      </div>
    </div>
  </div>
</main>
<script src="/scripts/variables.js"></script>
<script src="/scripts/util.js"></script>
<script src="/scripts/script.js"></script>
<script src="/scripts/updated.js"></script>
{% include analytics.html %}
{% include footer.html %}